* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}
body{
    font-size: 2rem;
    color: white;
}
header{
    height: 5rem;
    width: 100%;
    background-color: purple;
    position: relative;
    /* position: fixed;
    top: 0; */
}
nav {
    height: 5rem;
    background-color: orangered;
    position: sticky;
    top: -0.1rem;
}
main {
    min-height: calc(100vh - 20rem);
    background-color: #333;
    display: flex;
    /* margin-top: 10rem; */
}
footer {
    height: 10rem;
    background-color: purple;
}
div {
    width: 50%;
    background-color: black;
    display: inline-block;
}
div section{
    width: 100%;
    min-height: calc(50vh - 10rem);
    border:0.1rem solid orangered;
    padding: 10px;
}
article {
    display: inline-block;
    width: 50%;
    min-height: calc(100vh - 20rem);
    background-color: #666;
    padding: 2rem;
    border: 0.1rem solid orangered;
}
article section {
    width: 100%;
    min-height: calc(50vh - 14.3rem);
    background-color: #333;
    margin-bottom: 1rem;
    border: 0.1rem solid orangered;
}
main p{
    font-size: 1.8rem;
}